@media (max-width: 768px) {
  .title-and-description {
    flex-direction: column; /* Stack them vertically */
  }

  .title-container, .description-container {
    width: 100%; /* Use the full width */
    flex: none; /* Override any previous flex settings */
    min-height: auto; /* Ensure they can grow in height as needed */
    padding-bottom: 10px; /* Add some space below each for clarity */
  }

  .map-container, .info-container {
    width: 100%;
    float: none;
  }
  
  .map-container {
    height: 50vh;
  }
  
  .info-container {
    height: auto;
  }
}
