body {
  background-color: #101820FF;
}

.title-container img {
  height: 60px;
  width: 60px;
  
}

  h1 {
    font-family: Inter;
    font-size: 5vh;
  }

  
  .title-and-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #101820FF;
  }
  
  .title-container, .description-container {
    flex: 1;
    
     /* Ensure each takes up at least half the container */
    
  }

  .title-container {
    min-width: 25%;
    color: white;
  }

  .description-container {
    min-width: 45%;
    color:#FEE715FF;
  }
  
  .title-container {
    margin: 15px;
  }

  .description-container p {
    text-align: right;
    padding-right: 70px;
    font-family: Inter;
  }

 
  .map-and-info {
    padding: 10px;
  }

  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p {
    font-size: 3vh;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  .map-container {
    width: 70%;
    height: 60vh;
    float: left;
    margin: 10px;
  }
  

.info-container {
  width: 25%;
  height: 60vh;
  float: left;
  background-color:rgb(27, 37, 48);  /* Placeholder color */
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* Ensure info boxes are stacked vertically */
  border-radius: 8%;
}

.info-box {
  flex: 1; /* Each box will take equal space */
  margin: 5px 0; /* Add some space between boxes */
  padding: 10px;
  background-color: #FEE715FF; /* Slightly different color for distinction */
  box-sizing: border-box;
  overflow: hidden; /* Prevent content overflow */
  border-radius: 5px;
  font-size: 2.6vh;
  color: #101820FF;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-paragraph {
  font-size: 3vh;
  color: white;
  text-align: center;
}

.marker {
  background-image: url(marker.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  
}

.title-container {
  display: flex; /* Use Flexbox */
  align-items: center; /* Align items vertically in the center */
  min-width: 25%;
  color: white;
  margin: 15px;
}


