body, h1, p, button {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  background-color: #FEE715FF;
  padding: 1rem;
  color: #101820FF;
}

.logo {
  height: 60px;
  margin-right: 1rem;
}

.title-and-description h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.title-and-description p {
  font-size: 1.2rem;
}

.content {
  display: flex;
  height: calc(100vh - 100px); /* Adjust based on header/footer height */
}

.sidebar {
  flex-basis: 25%;
  padding: 1rem;
  background-color: #101820FF;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.info-container {
  flex-grow: 1;
}

.info-box {
  background-color: #FEE715FF;
  color: #101820FF;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.button {
  padding: 1rem;
  background-color: #304FFE;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

.map-container {
  flex-grow: 3;
}

.footer-paragraph {
  text-align: center;
  padding: 1rem;
  background-color: #101820FF;
  color: white;
}

.marker {
  background-image: url(marker.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  
}

/* Media queries are in mediaquery.css */
